@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');
:root {
    --darkblue-color: hsl(218, 23%, 16%);
    --black-color: hsla(0, 0%, 10%, 0.3);
}
body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: var(--darkblue-color);
    color: cornsilk;
}
.main-wrapper {
    width: 95%;
    margin: 0 auto;
}
.poster-img {
    width: 300px;
    height: 380px;
}
.poster-img > img {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
}
.movie-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 0.5rem;
}
.movie-card:hover {
    cursor: pointer;
}
.edit-button, .delete-movie {
    display: block;
    padding: 3px 100px;
    margin: 0 auto;
    border-radius: 10px;
}
.delete-movie {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    padding: 3px 120px;
}
.modal {
    position: fixed;
    opacity: 0;
    transform: translateY(-3rem);
    transition: opacity 0.2s ease-out 1s, transform 500ms ease-out 1s;
    z-index: 200;
    top: 12%;
    left: 30%;
    width: 50%;
    height: 300px;
    background: var(--darkblue-color);
    color: white;
    padding: 1rem;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.open {
    display: block;
    opacity: 1;
    transform:translateY(0);
}